{% extends 'base.html.twig' %}

{% block body %}
    <h1>Перечень обработанных страниц</h1>
    <table>
        <tr>
            <td>Адрес страницы</td>
            <td>Кол-во тегов img</td>
            <td>Длительность обработки страницы, мс</td>
        </tr>
        {% for item in pages %}
            <tr>
                <td>{{ item.url }}</td>
                <td>{{ item.NumberOfTags }}</td>
                <td>{{ item.ProcessingTime }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}